# <center> 07 Pandas, Datasets, & DataFrames

## **PART 1**

### 1. Import pandas as “pd”.

In [ ]:
import pandas as pd

### 2. Create three lists with five elements each. The first list should contain employees' first names, the second their last names, and the third should list their ages. You can make up this data.

In [ ]:
fn = ["Mia", "Julius", "Ezra", "Amy", "Harry"]
ln = ["Thermopolis", "Caesar", "Koenig", "Pond", "Styles"]
a = [22, 55, 33, 44, 29]

print("Employee first names:", fn)
print("Employee last names:", ln)
print("Employee ages:", a)

### 3. Create a data dictionary from the three lists.

In [ ]:
employee_dictionary = {
    "firstname": fn,
    "lastname": ln,
    "age": a}

print(employee_dictionary)

### 4. Create a pandas Series from the employee age list.

In [ ]:
#employee_firstnames = pd.Series(fn)
#employee_lastnames = pd.Series(ln)
employee_ages = pd.Series(a)

#print(employee_firstnames)
#print(employee_lastnames)
print(employee_ages)

### 5. Determine the average employee age.

In [ ]:
avg_employee_age = employee_ages.mean()
print("The average employee age is", avg_employee_age, "years.")

### 6. Write the Series to a CSV file.

In [ ]:
employee_ages.to_csv("employee_ages.csv")

## **PART 2**

### 1. Import 21st century MLB Batting.csv into Python as a data frame.

In [ ]:
df = pd.read_csv("21st_century_MLB_Batting.csv")
print(df)

### 2. Print the first five items in the data frame.

In [ ]:
first_five = df.head(5)
print(first_five)

### 3. Print the last six items in the data frame.

In [ ]:
last_six = df.tail(6)
print(last_six)

### 4. Determine the average of the HR column.

In [ ]:
#df_columns = df.head(0)
#print(df_columns)

In [ ]:
#df_info = df.info()
#print(df_info)

In [ ]:
hr_avg = df["HR"].mean()
print(hr_avg)

### 5. Calculate the max of the SO column.

In [ ]:
so_max = df["SO"].max()
print(so_max)

### 6. Save the data frame as an Excel file.

In [ ]:
df.to_csv("df.csv")

### 7. Create a subset of the data frame for players with more than 40 HR.

In [ ]:
#hr_max = df["HR"].max()
#print(hr_max)

In [ ]:
over_40_hr = df.loc[df["HR"]>40]
print(over_40_hr)

### 8. Save this new subset as a json file.

In [ ]:
over_40_hr.to_json("over_40_hr.json")