# Class Notes

In [ ]:
a = "antidisestablishmentarianism"
dir(a) 

#dir shows functions & methods available for the specified variable
# dir is a function b/c it can be run on any data type
# method is restricted by data type; associated with objects & their classes

In [ ]:
z = "Potatoes are life"
# how can I transform this string? how can I determine what methods are available to transform this string?
dir(z)
# which of these methods can I ignore? -the double underscore methods
# methods have different syntax than functions

## In-Class Practice

### To do:
1. Use the `dir()` function to create a list of methods for a string variable
2. Use three random methods with proper method calling syntax
3. Present your findings to the class

In [ ]:
q = "Peach jam on buttered toast"
print(q)

In [ ]:
# method: replace
# first attempt: print(q.replace()) -this does not work b/c it needs 2 arguments

print(q.replace("Peach", "Yuzu")) # "old string", "new string"

In [ ]:
# method: removeprefix
print(q.removeprefix("Peach jam on "))

In [ ]:
# method: join
print(q.partition("on"))
print(q.partition("jam"))
print(q.partition("buttered"))

In [ ]:
# functions process from inside out
# methods process from left to right

# Notes Revision

[Full list of built in Python functions](https://docs.python.org/3/library/functions.html)

### Functions & Methods
The syntax for functions are: `FUNCTION_NAME(INPUT)`.
The syntax for methods are: `INPUT.METHOD_NAME()`.

The function `dir()` returns all the attributes & methods that can be used on the input.

The function `%who` returns all the variables that are assigned a value.

In [ ]:
q = "star"
r = 700
s = ["red", "snail", "shells"]

In [ ]:
# returns all attributes & methods used for variable(str)
dir(q)

In [ ]:
# returns all attributes & methods used for variable(float)
dir(r)

In [ ]:
# returns all attributes & methods used for variable(list)
dir(s)

In [ ]:
print(q)

# capitalizes the first character of variable(str)
print(q.capitalize())

# boolean: is the variable(str) upper?
print(q.isupper())

# capitlizes all the characters in variable(str)
print(q.upper())

## Data Types

In [ ]:
m = 1998
n = 4.44
o = "poppy"
p = ["fire","air","water","earth"]

print(m, "is the data type:", type(m))
print(n, "is the data type:", type(n))
print(o, "is the data type:", type(o))
print(p, "is the data type:", type(p))

### Numeric Data Types: Integer

In [ ]:
print(type(0))
print(type(000))
# print(type(001639)
print(type(359953))
print(type(-133783378008))
print(type(9+1))
print(type(1963-30))

In [ ]:
# numbers expressed with commas
r = 106,000
t = 106_000

print(r, "is an example of ", type(r))
print(t, "is an example of ", type(t))

In [ ]:
# int vs float
j = 5
k = 5.0

print(j, "is an example of ", type(j))
print(k, "is an example of ", type(k))

In [ ]:
# rounding integers
s = int(round(2.3))
a = int(round(3.4))
g = int(round(4.5))
e = int(round(5.6))

print(s,a,g,e)

[Floating Point Arithmetic: Issues and Limitations:](https://docs.python.org/3/tutorial/floatingpoint.html#tut-fp-issues)

### Numeric Data Types: Float
To be continued...